
.top-bar {
	height: 90px;
	background-color: #020203;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 200px;

	.logo-title {
		display: flex;
		align-items: center;
		margin-left: 15px;

		span {
			color: #E60000;
			font-size: 24px;
			margin-left: 5px;
		}
	}

	.top-bar-link {
		color: #FFFFFF;
		font-size: 24px;
	}
}