@import "./topbar";
@import "./leftbar";

.top-bar-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.left-bar-body {
		display: flex;
		flex-direction: row;
		flex: 1 1;

		.body {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;

			.user-data {
				display: flex;
				flex-direction: column;
				width: 80%;
				height: 80%;
				margin-top: 5%;

				.welcome-header {
					display: flex;
					flex-direction: column;
					width: 100%;
					justify-content: start;
				}

				.user-values {
					display: flex;
					flex-direction: row;
					width: 100%;
					height: 100%;
					gap: 5%;

					.user-graphes {
						display: flex;
						flex-direction: column;
						width: 65%;
						height: 100%;
						justify-content: space-between;

						.user-main-graph {
							width: 100%;
							height: 53%;
							background-color: #fbfbfb;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: flex-start;
							position: relative;

							.sessionDurationGraph {
								width: 100%;
								height: 100%;
							}
						}

						.user-secondary-graphes {
							display: flex;
							flex-direction: row;
							gap: 5%;
							width: 100%;
							height: 43%;

							.secondary-graph {
								width: 30%;
								height: 100%;
								background-color: #fbfbfb;

								.sessionDurationGraph {
									width: 100%;
									height: 100%;
									background-color: #ff0000;
									display: flex;
									flex-direction: column;
									align-items: center;
									text-align: center;
								}

								.skills-radar {
									background-color: #282D30;
									width: 100%;
									height: 100%;
								}
							}
						}
					}

					.user-nutriments {
						width: 30%;
						display: flex;
						flex-direction: column;
						height: 100%;
						justify-content: space-between;

						.nutriment {
							width: 80%;
							height: 20%;
							background-color: #FBFBFB;
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: center;

							.nutriment-infos {
								display: flex;
								flex-direction: column;
								justify-content: flex-start;
								margin-left: 5%;

								.nutriment-value {
									color: #282D30;
									font-size: 20px;
									font-weight: 700;
								}

								.nutriment-type {
									margin-top: 5%;
									color: #74798C;
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}
